
/* ---------------------------------------------- /*
 *  reset
/* ---------------------------------------------- */
* {
	-webkit-touch-callout:none; 
	-webkit-text-size-adjust:none; 
	-webkit-tap-highlight-color:transparent
}
html {
	width:100%; 
	height:100%;
	background: #000;
}
body {
	margin:0;
	padding:0; 
	font-family: arial,'微软雅黑', sans-serif;
	color: #000;
	background: #000;
	overflow: hidden;
}
ol, ul, li {
	list-style:none; 
	margin:0; 
	padding:0;
}
h1, h2, h3, h4, h5, p, div, header, footer, section, article, aside, div, table, th, td  {
	margin:0; 
	padding: 0; 
	border: none;
}
h1, h2, h3, h4, h5, strong, i, em, th, td {
	font-weight: normal;
	font-style: normal;
}
table {
	border-collapse:collapse; 
	border-spacing:0;
}
input {
	vertical-align:middle;
}
select {
	background: transparent;
}
a {
	color:inherit; 
	text-decoration:none;
}
img {
	background: none;
	border: none;
}
:focus {
	outline:none
}
::-moz-focus-inner {
 border:0
}
button {
	margin: 0;
	padding: 0;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	font-family: arial, '微软雅黑', sans-serif;
	-webkit-appearance: none;
	appearance: none;
}
.group:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.underline {
	text-decoration: underline;
}
.center-align {
	text-align: center !important;
}
.small {
	font-size: 11px;
}
.bold {
	font-weight: bold !important;
}
.fz10 {
	font-size: 10px !important;
}
.fz60 {
	-webkit-transform: scale(1.3);
	transform: scale(1.3);
}
.btn {
	display: inline-block;
	height: 34px;
	padding: 0 35px;
	font-size: 15px;
	line-height: 34px;
	color: #fff;
	background: #d70a17;
}
.imgLoad {
	display: none;
}

/* ---------------------------------------------- /*
 *  z-index
/* ---------------------------------------------- */
.loading-page {z-index: 9000;}
.homepage {z-index: 1000;}
.city-box.london {z-index: 1100;}
.city-box.milan {z-index: 1200;}
.city-box.zurich {z-index: 1300;}
.result {z-index: 1400;}

/* ---------------------------------------------- /*
 *  general
/* ---------------------------------------------- */
.center-box {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	padding: 0 36px;
	z-index: 100;
	background: none;
	box-sizing: border-box;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}
.block {
	display: block;
	width: 100%;
	padding: 1px;
	background: none;
	border: 4px solid #fff;
	box-sizing: border-box;
}
.block .inner {
	background: #fff;
}


/* ---------------------------------------------- /*
 *  Loading Page
/* ---------------------------------------------- */
.loading-page {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
}
.loading-page .bg {
	display: block;
	width: 100%;
	height: auto;
}
.loading-page .inner {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	text-align: center;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.loading-page .inner img {
	display: block;
	width: 68px;
	height: 12px;
	margin-bottom: 10px;
}
.loading-page .inner p {
	font-size: 10px;
	line-height: 10px;
	color: #9d5c5c;
}
.loading-page .inner p i {
	display: inline-block;
	margin: 0 2px;
	font-weight: bold;
	visibility: hidden;
}
.loading-page .inner p i:nth-child(2) {
	-webkit-animation: twinkle 2s ease-out infinite;
	animation: twinkle 2s ease-out infinite;
}
.loading-page .inner p i:nth-child(3) {
	-webkit-animation: twinkle 2s ease-out .4s infinite;
	animation: twinkle 2s ease-out .4s infinite;
}

.loading-page .inner p i:nth-child(4) {
	-webkit-animation: twinkle 2s ease-out .8s infinite;
	animation: twinkle 2s ease-out .8s infinite;
}

/* ---------------------------------------------- /*
 *  HomePage
/* ---------------------------------------------- */
.homepage {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-transition: all 2s ease-out;
	transition: all 2s ease-out;
}
.homepage.hide {
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
}
.homepage .bg {
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	z-index: 0;
}
.homepage .block {
	margin-bottom: 14px;
}
.homepage .block .inner {
	padding: 50px 27px;
}
.homepage h3 {
	margin-bottom: 20px;
	font-size: 24px;
	line-height: 24px;
	color: #463d37;
}
.homepage p {
	margin-bottom: 18px;
	font-size: 12px;
	line-height: 18px;
	color: #463d37;
}
.homepage a {
	display: inline-block;
	float: left;
	height: 42px;
	padding: 1px;
	border: 2px solid #fff;
	vertical-align: top;
	box-sizing: border-box;
}
.homepage a.play {
	margin-right: 14px;
}
.homepage a span {
	display: block;
	background: #fff;
	text-align: center;
	font-size: 12px;
	color: #463d37;
	line-height: 36px;
}


/* ---------------------------------------------- /*
 *  City
/* ---------------------------------------------- */
.city-box {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	-webkit-transform: translate(100%, 0);
	transform: translate(100%, 0);
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.city-box.show {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.city-box.hide {
	-webkit-transform: translate(-100%, 0);
	transform: translate(-100%, 0);
	-webkit-transition: all 2s ease-out;
	transition: all 2s ease-out;
}
.city-box.zurich.hide {
	-webkit-transform: translate(0, 100%);
	transform: translate(-0, 100%);
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.city-box .answer {
	display: block;
	position: absolute;
	width: 100%;
	left: 0;
	bottom: 0;
	text-align: center;
}
.city-box .answer label {
	display: block;
	width: 128px;
	height: 12px;
	margin: 0 auto 6px auto;
	padding: 6px 0;
	border-bottom: 1px solid #fff;
	text-align: center;
}
.city-box .answer label input {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-size: 12px;
	font-family: arial, '微软雅黑', sans-serif;
	line-height: 12px;
	color: #fff;
	border: none;
	background: none;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
}
.city-box .answer label input::-webkit-input-placeholder {
	font-size: 12px;
	font-family: arial, '微软雅黑', sans-serif;
	color: #fff;
}
.city-box .answer button {
	display: inline-block;
	position: relative;
	padding: 0 20px 15px 20px;
}
.city-box .answer button:before, 
.city-box .answer button:after {
	content: "";
	display: none;
	position: absolute;
	width: 20px;
	height: 5px;
	top: 2px;
	background-size: 20px 5px;
}
.city-box .answer button.highlight:before, 
.city-box .answer button.highlight:after {
	display: block;
}
.city-box .answer button:before {
	left: -16px;
	background-image: url(img/arrow_left.png);
	-webkit-animation: popright 1s ease-out infinite;
	animation: popright 1s ease-out infinite;
}
.city-box .answer button:after {
	right: -16px;
	background-image: url(img/arrow_right.png);
	-webkit-animation: popleft 1s ease-out infinite;
	animation: popleft 1s ease-out infinite;
}
.city-box .answer button img {
	display: block;
	width: 50px;
	height: 9px;
	margin: 0 auto;
}
.city-box canvas {
	position: relative;
	z-index: 0;
}
.city-box .center-box .inner {
	padding: 30px 0;
	text-align: center;
	color: #535a64;
}
.city-box .center-box .score {
	margin-bottom: 6px;
}
.city-box .center-box .score .inner h3 {
	margin-bottom: 0;
}
.city-box .center-box .score .inner h3 i {
	display: inline-block;
	position: relative;
	top: 10px;
	font-size: 45px;
	vertical-align: middle;
}
.city-box .center-box .score .inner h3 span {
	display: inline-block;
	font-size: 100px;
	line-height: 85px;
	vertical-align: middle;
}
.city-box .center-box .score .inner p {
	font-size: 12px;
	line-height: 12px;
}
.city-box .center-box .intro .inner {
	padding: 30px;
}
.city-box .center-box .intro .inner h3 {
	margin-bottom: 15px;
	font-size: 24px;
	line-height: 24px;
	letter-spacing: 10px;
}
.city-box .center-box .intro .inner p {
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 18px;
}
.city-box .center-box .intro button {
	display: block;
	position: relative;
	width: 100%;
	height: 42px;
	text-align: center;
	line-height: 40px;
	font-size: 12px;
	border: 1px solid #535a64;
	box-sizing: border-box;
}
.city-box .center-box .intro button:after {
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 5px;
	right: 20px;
	top: 18px;
	background-image: url(img/arrow_left_dark.png);
	background-size: 20px 5px;
}

/* ---------------------------------------------- /*
 *  Result
/* ---------------------------------------------- */
.result {
	display: block;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	overflow: hidden;
	-webkit-transform: translate(0,-100%);
	transform: translate(0,-100%);
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
}
.result.show {
	-webkit-transform: translate(0,0);
	transform: translate(0,0);
}
.result .bg {
	display: block;
	position: absolute;
	width: 100%;
	height: auto;
	left: 0;
	top: 0;
	z-index: 0;
}
.result .center-box {
	opacity: 0;
	visibility: hidden;
	-webkit-transform: translate(0,-45%);
	transform: translate(0,-45%);
	-webkit-transition: all .6s ease-out;
	transition: all .6s ease-out;
}
.result .center-box.show {
	opacity: 1;
	visibility: visible;
	-webkit-transform: translate(0,-50%);
	transform: translate(0,-50%);
}
.result .center-box.hide {
	opacity: 0 !important;
	visibility: hidden !important;
	-webkit-transform: translate(0,-55%) !important;
	transform: translate(0,-55%) !important;
}
.result .final-score .inner {
	padding: 40px 30px;
	text-align: center;
}
.result .final-score .inner h3 {
	text-indent: -20px;
	font-size: 100px;
	line-height: 90px;
	color: #69788d;
}
.result .final-score .inner p {
	margin-bottom: 25px;
	font-size: 12px;
	line-height: 12px;
	color: #69788d;
	letter-spacing: 2px;
}
.result .final-score .inner button {
	display: block;
	width: 100%;
}
.result .final-score .inner button.view_detail {
	margin-bottom: 10px;
}
.result .final-score .inner button img {
	display: block;
	width: 100%;
	height: auto;
}
.result .form {
	margin-top: 60px;
}
.result .form img {
	display: block;
	position: relative;
	width: 80%;
	height: auto;
	top: -120px;
	left: 20px;
	z-index: 10;
}
.result .form .inner div {
	position: relative;
	margin-top: -105px;
	padding: 35px 30px;
	background: #f8f9fa;
	text-align: center;
	z-index: 20;
}
.result .form .inner div p {
	margin-bottom: 20px;
	font-size: 12px;
	line-height: 12px;
	color: #535a64;
}
.result .form .inner div label {
	display: block;
	width: 100%;
	height: 40px;
	margin-bottom: 12px;
	padding: 13px;
	border: 1px solid #535a64;
	box-sizing: border-box;
}
.result .form .inner div label input {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 12px;
	font-family: arial, '微软雅黑', sans-serif;
	line-height: 12px;
	color: #535a64;
	text-align: center;
	border: none;
	background: none;
	outline: none;
	-webkit-appearance: none;
	appearance: none;
}
.result .form .inner div label input::-webkit-input-placeholder {
	font-size: 12px;
	font-family: arial, '微软雅黑', sans-serif;
	color: #535a64;
}
.result .form .inner div button {
	display: block;
	width: 100%;
	height: 40px;
	background: #535a64;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 40px;
}
.result .qr {
	width: 120px;
	left: 50%;
	margin-left: -60px;
	padding: 0;
}
.result .qr img {
	display: block;
	width: 100%;
	height: auto;
}
.result .qr p {
	font-size: 12px;
	line-height: 16px;
	color: #fff;
	text-align: center;
}
.result .qr p span {
	display: block;
	position: relative;
	left: 6px;
	letter-spacing: 12px;
	white-space: nowrap;
	text-align: center;
}
.result .share {
	display: block;
	position: absolute;
	right: -170px;
	top: -100px;
	-webkit-transition: all 1s ease-out;
	transition: all 1s ease-out;
	-webkit-transform-origin: right top;
	transform-origin: right top;
	-webkit-transform: translate(200px, -200px);
	transform: translate(200px, -200px);
}
.result .share.show {
	-webkit-transform: translate(0, 0);
	transform: translate(0, 0);
}
.result .share .inner {
	display: block;
	width: 240px;
	height: 110px;
	padding: 40px 80px 0;
	background: #fff;
	box-sizing: border-box;
	-webkit-box-shadow: 0 0 4px rgba(0,0,0,0.4);
	box-shadow: 0 0 4px rgba(0,0,0,0.4);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: left top;
	transform-origin: left top;
}
.result .share img {
	display: block;
	width: 16px;
	height: auto;
	margin: 0 auto 5px auto;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: center;
	transform-origin: center;
}
.result .share p {
	font-size: 12px;
	line-height: 16px;
	color: #535a64;
	text-align: center;
	letter-spacing: 2px;
}
.result .share p span {
	display: block;
	margin: 0 auto;
	letter-spacing: 4px;
}


/*--- delay  -----------------------*/
.d01 {-webkit-transition-delay:.1s; transition-delay:.1s;}
.d02 {-webkit-transition-delay:.2s; transition-delay:.2s;}
.d03 {-webkit-transition-delay:.3s; transition-delay:.3s;}
.d04 {-webkit-transition-delay:.4s; transition-delay:.4s;}
.d04 {-webkit-transition-delay:.4s; transition-delay:.4s;}
.d05 {-webkit-transition-delay:.5s; transition-delay:.5s;}
.d06 {-webkit-transition-delay:.6s; transition-delay:.6s;}
.d07 {-webkit-transition-delay:.7s; transition-delay:.7s;}
.d08 {-webkit-transition-delay:.8s; transition-delay:.8s;}
.d09 {-webkit-transition-delay:.9s; transition-delay:.9s;}
.d10 {-webkit-transition-delay:1s; transition-delay:1s;}
.d12 {-webkit-transition-delay:1.2s; transition-delay:1.2s;}
.d13 {-webkit-transition-delay:1.3s; transition-delay:1.3s;}
.d14 {-webkit-transition-delay:1.4s; transition-delay:1.4s;}
.d16 {-webkit-transition-delay:1.6s; transition-delay:1.6s;}
.d18 {-webkit-transition-delay:1.8s; transition-delay:1.8s;}
.d20 {-webkit-transition-delay:2s; transition-delay:2s;}
.d22 {-webkit-transitionSS-delay:2.2s; transition-delay:2.2s;}
.d24 {-webkit-transition-delay:2.4s; transition-delay:2.4s;}
.d26 {-webkit-transition-delay:2.6s; transition-delay:2.6s;}
.d28 {-webkit-transition-delay:2.8s; transition-delay:2.8s;}
.d30 {-webkit-transition-delay:3s; transition-delay:3s;}
.d32 {-webkit-transition-delay:3.2s; transition-delay:3.2s;}
.d40 {-webkit-transition-delay:4s; transition-delay:4s;}

/*--- transition  -----------------------*/
.t0 {
	transition-property: all;
	transition-duration: 0s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0s;
	-webkit-transition-timing-function: ease-out;
}
.t02 {
	transition-property: all;
	transition-duration: .2s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: .2s;
	-webkit-transition-timing-function: ease-out;
}
.t04 {
	transition-property: all;
	transition-duration: .4s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: .4s;
	-webkit-transition-timing-function: ease-out;
}
.t06 {
	transition-property: all;
	transition-duration: .6s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: .6s;
	-webkit-transition-timing-function: ease-out;
}
.t08 {
	transition-property: all;
	transition-duration: .8s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: .8s;
	-webkit-transition-timing-function: ease-out;
}
.t1 {
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1s;
	-webkit-transition-timing-function: ease-out;
}
.t12 {
	transition-property: all;
	transition-duration: 1.2s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1.2s;
	-webkit-transition-timing-function: ease-out;
}
.t14 {
	transition-property: all;
	transition-duration: 1.4s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 1.4s;
	-webkit-transition-timing-function: ease-out;
}
.t2 {
	transition-property: all;
	transition-duration: 2s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 2s;
	-webkit-transition-timing-function: ease-out;
}
.t3 {
	transition-property: all;
	transition-duration: 3s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 3s;
	-webkit-transition-timing-function: ease-out;
}
.t4 {
	transition-property: all;
	transition-duration: 4s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 4s;
	-webkit-transition-timing-function: ease-out;
}
.t5 {
	transition-property: all;
	transition-duration: 5s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 5s;
	-webkit-transition-timing-function: ease-out;
}
.t6 {
	transition-property: all;
	transition-duration: 6s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 6s;
	-webkit-transition-timing-function: ease-out;
}
.t7 {
	transition-property: all;
	transition-duration: 7s;
	transition-timing-function: ease-out;
	-webkit-transition-property: all;
	-webkit-transition-duration: 7s;
	-webkit-transition-timing-function: ease-out;
}

/*--- fade  -----------------------*/
.fadeLeft {
	opacity: 0;
	-webkit-transform: translateX(-20px);
	transform: translateX(-20px);
}
.onAnimate .fadeLeft {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.fadeRight {
	opacity: 0;
	-webkit-transform: translateX(25px);
	transform: translateX(25px);
}
.onAnimate .fadeRight {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.fadeTop {
	opacity: 0;
	-webkit-transform: translateY(-20px);
	transform: translateY(-20px);
}
.onAnimate .fadeTop {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.fadeBottom {
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}
.onAnimate .fadeBottom {
	opacity: 1;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}
.fadeIn {
	opacity: 0;
}
.onAnimate .fadeIn {
	opacity: 1;
}
.scaleIn {
	opacity: 0;
	-webkit-transform: scale(1.1) translate(-20px, 0);
	transform: scale(1.1) translate(-20px, 0);
}
.onAnimate .scaleIn {
	opacity: 1;
	-webkit-transform: scale(1) translate(0,0);
	transform: scale(1) translate(0,0);
}
.slideLeft {
	opacity: 0;
	-webkit-transform: translateX(50%);
	transform: translateX(50%);
}
.onAnimate .slideLeft {
	opacity: 1;
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.darkIn {
	-webkit-filter: brightness(0.6);
	filter: brightness(0.6);
}
.onAnimate .darkIn {
	-webkit-filter: brightness(1);
	filter: brightness(1);
}
.e-scaleOut {
	-webkit-transform: scale(1);
	transform: scale(1);
}
.onAnimate .e-scaleOut {
	-webkit-transform: scale(1.02);
	transform: scale(1.02);
}
.e-slideRight {
	-webkit-transform: translateX(-10px);
	transform: translateX(-10px);
}
.onAnimate .e-slideRight {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.e-slideLeft {
	-webkit-transform: translateX(10px);
	transform: translateX(10px);
}
.onAnimate .e-slideLeft {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

/* ---------------------------------------------- /*
 *  keyframes
/* ---------------------------------------------- */

@keyframes twinkle {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}
@-webkit-keyframes twinkle {
    0% {visibility: visible; opacity: 1;}
    100% {visibility: hidden; opacity: 0;}
}

/*popright*/
@keyframes popright {
    0% {
    	transform: translateX(0);
    	opacity: 1;
    }
    100% {
    	transform: translateX(5px);
    	opacity: 0;
    }
}
@-webkit-keyframes popright {
    0% {
    	-webkit-transform: translateX(0);
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translateX(5px);
    	opacity: 0;
    }
}

/*popleft*/
@keyframes popleft {
    0% {
    	transform: translateX(5px);
    	opacity: 1;
    }
    100% {
    	transform: translateX(-5px);
    	opacity: 0;
    }
}
@-webkit-keyframes popleft {
    0% {
    	-webkit-transform: translateX(5px);
    	opacity: 1;
    }
    100% {
    	-webkit-transform: translateX(-5px);
    	opacity: 0;
    }
}




















